node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.env
.vscode/
*.pem
!localhost.pem
!dev_certs/*
!nginx/*
.vagrant
.npmrc
.DS_Store
.next
